* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(32, 78, 163);
    padding-top: 150px;
    
}

.container{
    background-color: rgb(58, 101, 182);
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 120px;
}

header h1 {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

form {
    display: flex;
    max-width: 400px;
    width: 100%;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 5px;
}

form input {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

img {
    display: flex;
    height: 40px;
    margin: 5px;
}

button {
    margin-left: 15px;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
}

table {
    background-color: white;
    width: 100%;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    margin-top: 20px;
}
